<div class=container>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">         
          <input type="text" formControlName="name" placeholder="Item Name"><br><br>
          <textarea formControlName="description" placeholder="Item Description">
          </textarea><br><br>
          <input type="text" formControlName="price" placeholder="Item Price"><br><br>
          <input type="text" formControlName="image" placeholder="Image URL"><br><br>
          <input type="text" formControlName="imageAlt" placeholder="Image Alt"><br><br>

          
          Is Product Available<input type="checkbox" formControlName="isAvailable" ><br><br>
          <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>