
<div *ngIf="item">
    <div class="card" style="width: 18rem;">
        <a routerLink="/description/:id"><img [src]="item.imageUrl" class="card-img-top" ></a>
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.description}}</p>
              <p class="card-text">${{item.price}}</p>

                  <button  class="btn btn-primary" (click)="increment()">Add To Cart</button>
                  <button  class="btn btn-secondary" [routerLink]="['add-product', item.id]">Edit</button>
                  <button  class="btn btn-secondary" (click)="delete(item.id)" >Delete</button>
          </div>
  </div>
</div>
